#background-wrap {
  padding-inline: 8vw;
}

#background-wrap,
#navigation-wrap {
  position: relative;
  display: flex;
  align-items: center;
  grid-area: 1 / 1;
}

#background-wrap {
  justify-content: center;
}

#background-video {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-logo {
  width: 100%;
  max-width: 1000px;
  cursor: pointer;
  z-index: 1;
}

#navigation-wrap {
  z-index: 1;
  background-color: var(--beige-bgr);
  background-image: url("../assets/images/grid-background.webp");
  background-size: cover;
  background-position: center;
  padding: 64px 8vw;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;

  &.show {
    pointer-events: auto;
    opacity: 1;
  }
}

nav {
  contain: layout;
  margin-block: auto;
  display: flex;
  width: 100%;
  max-width: 900px;
  container-type: inline-size;
  margin-right: 5%;

  .nav-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  #nav-column-1 {
    margin-top: 13cqw;
    text-align: right;

    a {
      margin-bottom: 10.5cqw;
    }
  }

  #nav-column-2 {
    margin-top: 12cqw;

    a:first-child {
      margin-bottom: 22.25cqw;
    }
  }

  a {
    color: #111;
    text-decoration: none;
    font-size: 2.25cqw;
    letter-spacing: -0.02em;
  }

  img {
    min-width: 0;
  }
}

#head-desktop-wrap {
  position: relative;
  min-width: 0;

  #head-desktop {
    display: block;
    width: 100%;
  }

  #home-head-eye {
    position: absolute;
    left: 25.91%;
    top: 40.65%;
    width: 5.1%;
    pointer-events: none;
    transition: transform 0.12s ease-out;
  }
}

#head-mobile {
  display: none;
}

@media (max-width: 767px) {
  #navigation-wrap {
    padding-inline: 20px;
  }

  nav {
    margin-right: 0;

    #nav-column-1 {
      margin-top: 8cqw;
      padding-right: 10px;

      a {
        margin-bottom: 6.5cqw;
      }
    }

    #nav-column-2 {
      margin-top: 7.5cqw;
      padding-left: 10px;

      a:first-child {
        margin-bottom: 16cqw;
      }
    }

    a {
      font-size: 3.5cqw;
    }
  }

  #head-mobile {
    display: block;
  }
  #head-desktop-wrap {
    display: none;
  }
}
