#immersive-layout {
  position: relative;
  z-index: 1;
  margin-block: auto;
  padding-bottom: 20%;
}

#immersive-eye {
  position: absolute;
  right: calc(100% + 40px);
  top: 0;
  width: clamp(120px, 12vw, 180px);
  transform-origin: center;
}

#center-row {
  display: flex;
  flex-direction: column;
  gap: 48px;

  a {
    font-style: italic;
    font-size: clamp(22px, 2.25vw, 30px);
    color: #333;
    text-decoration: none;
  }
}

#person-graphic {
  position: absolute;
  inset: 0;
  pointer-events: none;
  contain: strict;

  img {
    position: absolute;
    width: 70vw;
    right: -10%;
    bottom: -70%;
  }
}

@media (max-width: 767px) {
  #person-graphic img {
    width: 90vw;
    bottom: -15%;
  }
}
